<h1 id="header-moviedb">MovieDB</h1>

<p>The MovieDB web app retrieves data from the Alinta movies API and displays information about actors.</p>

<h2 id="header-instructions">Instructions</h2>

<p>Upon loading the web app, navigate to the &quot;Actors&quot; page. From there you can specify two settings for retrieving the actor information:</p>

<ol>
    <li>Retrieve data via local proxy service (required if CORS is not enabled for this site on the remote server).</li>
    <li>Group movie data by actors on the proxy server (instead of in the browser).</li>
</ol>

<p>The first option is required to be set to true where CORS has not been enabled to allow direct API access from web browser AJAX calls (which was the case at time of writing). The second option is available when using the local proxy service and performs the grouping of data into the actor information on the server instead of using local javascript processing in the web browser.</p>

<h3 id="header-error-handling">Error Handling</h3>

<p>The following scenarios are handled:</p>

<ul>
    <li>No data returned (no content response / empty array) - &quot;No results were returned.&quot; is displayed.</li>
    <li>Roles without actor names - these are ignored.</li>
    <li>Duplicated roles for a movie - only distinct roles are returned.</li>
    <li>Errors retrieving the data (non 2xx responses) - &quot;The following error occurred while retrieving data:&quot; is displayed with error details.</li>
</ul>

<h2 id="header-features">Features</h2>

<h3 id="header-front-end">Front End</h3>

<ul>
    <li>Angular 4.3.6</li>
    <li>Bootstrap 3 look and feel</li>
    <li>Retrieves client configuration on Angular start up from back end</li>
    <li>AJAX call to server to retrieve information</li>
    <li>Asynchronous binding to observable with shared response (single call for multiple usages of response)</li>
    <li>Sorting on actors and characters performed by Angular pipe</li>
    <li>Strongly typed web service data on client through interfaces</li>
    <li>Retrieval functionality moved to services and consumed by components</li>
    <li>Web pack used for bundling with split server / client</li>
    <li>Instructions provided on home page</li>
    <li>Simple interface and operation</li>
</ul>

<h3 id="header-back-end">Back End</h3>

<ul>
    <li>.NET Core 2.0 for back end</li>
    <li>MVC controllers for retrieving client configuration and server-side functionality</li>
    <li>Strongly typed data retrieved and returned from REST API</li>
    <li>Server side pre-rendering of Angular content</li>
</ul>