<h1>Actors</h1>

<p>This page retrieves the movie data and groups by actors, showing characters sorted by movie title.</p>

<div id="settings">
    <form (ngSubmit)="retrieveActors()">
        <div class="checkbox">
            <label>
                <input name="useProxy" type="checkbox" [(ngModel)]="useProxy">
                Retrieve data via local proxy service (required if CORS is not enabled for this site on the remote server).
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input name="useServerSideTransformation" [disabled]="!useProxy" type="checkbox" [(ngModel)]="useServerSideTransformation">
                Group movie data by actors on the proxy server (instead of in the browser).
            </label>
        </div>
        <button type="submit">Retrieve Actors</button>
    </form>
</div>

<div id="results">
    <h2>Results</h2>
    <p *ngIf="!actors">No data has been retrieved.</p>
    <p *ngIf="actors && !(actors | async) && !error">Retrieving data...</p>
    <p *ngIf="actors && (actors | async) && !(actors | async).length">No results were returned.</p>
    <div *ngIf="error">
        <p>The following error occurred while retrieving data:</p>
        <pre>{{ error }}</pre>
    </div>
    <ul *ngIf="actors && (actors | async) && (actors | async).length">
        <li *ngFor="let actor of actors | async | orderBy: 'name'">
            {{ actor.name }}
            <ul>
                <li *ngFor="let character of actor.characters | orderBy: 'movie'">{{ character.name }}</li>
            </ul>
        </li>
    </ul>
</div>
